/* src/style.css */
:root {
  --bg-dark-main: #0b0a1c; /* Ton fond sombre principal */
  --bg-dark-card: #131229; /* Le fond de tes blocs/cartes */
  --color-gold: #f1ec4c; /* Ton jaune/or d'accentuation */
  --bg-gray-color: #202131;
  --text-white: #ffffff;
  --text-muted: #94a3b8;
  --font-titles: "Roboto", sans-serif;
  --font-body: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark-main);
  color: var(--text-white);
  font-family: "DM Sans 14pt", sans-serif;
  font-size: clamp(1rem, 1.449vw, 1.25rem);
  line-height: 1.35;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans 14pt", sans-serif;
  font-weight: 700;
}
h1 {
  font-size: clamp(2.18rem, 5.2vw, 6.25rem);
  line-height: 1.08;
}
h2 {
  font-size: clamp(1.56rem, 4.9vw, 4.25rem);
  line-height: 1.3088;
}
h3 {
  font-size: clamp(1.25rem, 1.8116vw, 1.5625rem);
  line-height: 1.32;
}
.sous-titre {
  font:
    normal bold clamp(1.5rem, 2.174vw, 1.875rem) / 1.33 "DM Sans 14pt",
    sans-serif;
  color: var(--color-gold);
}
.surtitle {
  font-family: "DM Sans 14pt", sans-serif;
  font-weight: 400;
  color: var(--color-gold);
  font-size: clamp(0.875rem, 1.13vw, 1.125rem);
  line-height: 1.33;
  letter-spacing: 0.108em;
  margin-top: -10px;
}

a {
  text-decoration: none;
  color: inherit;
}
.bouton {
  font-size: clamp(1rem, 1.449vw, 1.25rem);
  padding: clamp(1rem, 1.95vw, 1.68rem) clamp(1.56rem, 3.47vw, 3rem);
  font-weight: 400;
  line-height: 1;
}
.bouton-white {
  background-color: var(--text-white);
  border: 1px solid var(--text-white);
  border-radius: 0px;
  color: var(--bg-dark-card);
  text-align: center;
}
.bouton-outline {
  background-color: transparent;
  border: 1px solid var(--text-white);
  border-radius: 0px;
  color: var(--text-white);
  text-align: center;
}
.skill {
  background-color: #202131;
  border: 0.5px solid #707070;
  border-radius: 50px;
  padding: 4px 12px;
  font-size: clamp(0.75rem, 1.16vw, 0.9rem);
  line-height: 1;
  font-weight: 200;
  color: var(--text-white);
}

@media screen and (max-width: 768px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
